{% block appbundle_user_model_portfolio_image_widget %}
    <div class="row">
        <div class="col-sm-6">
            {{ form_errors(form.pictureFile) }}
            {{ form_widget(form.pictureFile) }}
            {{ form_widget(form.position) }}
        </div>
        <div class="col-sm-6">
            <a class="collection-remove btn-sm" href="#">
                <h2>
                    <span class="icon s7-trash"></span>
                </h2>
            </a>
            <a class="collection-up btn-sm" href="#">
                <h2>
                    <span class="icon s7-up-arrow"></span>
                </h2>
            </a>
            <a class="collection-down btn-sm" href="#">
                <h2>
                    <span class="icon s7-bottom-arrow"></span>
                </h2>
            </a>
            <a class="collection-add btn-sm" href="#">
                <h2>
                    <span class="icon s7-plus"></span>
                </h2>
            </a>
        </div>
    </div>
{% endblock %}

{% block appbundle_category_model_choose_widget %}
    <div class="row">
        <div class="col-sm-8">
            {{ form_widget(form.category) }}
        </div>
        <div class="col-sm-2">
            <a class="collection-remove btn-sm" href="#">
                <h2>
                    <span class="icon s7-trash"></span>
                </h2>
            </a>
            <a class="collection-add btn-sm" href="#">
                <h2>
                    <span class="icon s7-plus"></span>
                </h2>
            </a>
        </div>
    </div>
{% endblock %}

{%- block money_widget -%}
    {% set attr = attr|merge({'class':'form-control'}) %}
    <div class="input-group">
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <span class="input-group-addon">{% if attr.unit is defined %}{{ attr.unit|trans }}{% else %}€ HT{% endif %}</span>
    </div>
{%- endblock money_widget -%}