{% extends 'front/base.html.twig' %}
{% block meta %}
<meta title="title" content="Votre panier de modèles 3D - United 3D Makers." />
<meta property="description" content="Acheter tous les modèles 3D pour de l'impression 3D au meilleur prix sur United 3d Makers" />
{% endblock %}

{% block body %}
    <div id="big-form">
        <div id="app-init" class="col-sm-12" 
                url-api-pricing="{{ path('api_print_ajax') }}" 
                url-api-shipping="{{ path('api_shipping_ajax') }}" 
                url-api-fees="{{ path('api_fee_ajax') }}" 
                url-api-user-create="{{ path('api_user_register') }}" 
                url-api-user-login="{{ path('api_user_login') }}"
                url-api-user-logout="{{ path('api_user_logout') }}" 
                url-api-user-connected="{{ path('api_user_connected') }}" stripe-public-key="{{ stripe_public_key }}" 
                url-api-upload="{{ oneup_uploader_endpoint('gallery') }}" 
                url-api-chronopost="{{ path('api_shipping_relays_ajax') }}"
                url-api-order="{{ path('api_place_order_ajax') }}"
                url-api-basket="{{ path('api_model_basket') }}"
                url-api-basketOrder="{{ path('api_model_basket_order') }}"
                url-api-payment="{{ path('api_payment_ajax') }}"
                url-api-payment-cancel="{{ path('api_payment_cancel') }}"
                url-api-coupon="{{ path('api_coupon_apply_ajax') }}"
                url-model="{{ path('model_home') }}"
                url-command="{{ path('order_customer_list') }}"
                url-api-third-d-secure="{{ path('api_third_d_secure_ajax') }}"
                email-contact="{{ email_contact }}"
                >
            
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/front/template/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/front/js/jsc3d.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/front/js/jsc3d.console.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/front/js/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/front/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/front/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/front/js/main.js') }}"></script>
    {# App VueJS #}
    <script src="{{ asset('build/app-model.js') }}"></script>
    {# End App VueJS #}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
