{% extends 'admin/layout.html.twig' %}

{% set activeTab = 'ref_design' %}
{% set activeMenu = 'ref_software' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-table">
                <div class="panel-heading panel-heading-divider">
                    <div class="tools"><a href="{{ path('admin_software_add') }}"><span class="icon s7-magic-wand"></span> {{ 'admin.software.add.title'|trans }}</a></div>
                    {{ 'admin.software.list.title'|trans }}
                    <span class="panel-subtitle">{{ 'admin.software.list.subtitle'|trans }}</span>
                </div>
                <div class="panel-body">
                    <table id="table-ref-list" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'admin.software.list.column.id'|trans }}</th>
                            <th>{{ 'admin.software.list.column.name'|trans }}</th>
                            <th class="actions"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for software in refs %}
                            <tr{% if not software.enabled %} class="highlight highlight-red"{% endif %}>
                                <td>{{ software.id }}</td>
                                <td><a href="{{ path('admin_software_edit', { 'id': software.id }) }}">{{ software.name }}</a></td>
                                <td class="actions"><a href="{{ path('admin_software_edit', { 'id': software.id }) }}" class="icon"><i class="s7-right-arrow"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}