{% extends 'admin/layout.html.twig' %}

{% set activeTab = 'order' %}
{% set activeMenu = 'rating_list' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-table">
                <div class="panel-heading panel-heading-divider">
                    {{ 'admin.rating.list.title'|trans }}
                    <span class="panel-subtitle">{{ 'admin.rating.list.subtitle'|trans }}</span>
                </div>
                <div class="panel-body">
                    <table id="table-rating-list" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'admin.rating.list.column.id'|trans }}</th>
                            <th>{{ 'admin.rating.list.column.date'|trans }}</th>
                            <th>{{ 'admin.rating.list.column.customer'|trans }}</th>
                            <th>{{ 'admin.rating.list.column.maker'|trans }}</th>
                            <th>{{ 'admin.rating.list.column.note'|trans }}</th>
                            <th>{{ 'admin.rating.list.column.comment'|trans }}</th>
                            <th class="actions"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rating in ratings %}
                            <tr>
                                <td>{{ rating.id }}</td>
                                <td data-order="{{ rating.createdAt|date('YmdHis') }}">
                                    {{ rating.createdAt|date('d/m/Y', app.user.timezone) }}
                                </td>
                                <td>{{ rating.customer.fullname }}</td>
                                <td>{{ rating.maker.fullname }}</td>
                                <td>{{ rating.rate }}/5</td>
                                <td>{{ rating.comment }}</td>
                                <td class="actions">
                                    <a href="{{ path('admin_rating_enabled', { 'rating': rating.id }) }}" class="icon" style="margin-right:5px;" title="{{ 'admin.rating.action.validate'|trans }}">
                                        <i class="s7-check"></i>
                                    </a>
                                    <a href="{{ path('admin_rating_delete', { 'rating': rating.id }) }}" class="icon" style="margin-right:5px;" title="{{ 'admin.rating.action.delete'|trans }}" onclick="return confirm(' Êtes-vous sur de vouloir supprimer cet avis ?')">
                                        <i class="s7-trash"></i>
                                    </a>
                                    <a href="{{ path('admin_rating_edit', { 'rating': rating.id }) }}" title="{{ 'admin.rating.action.edit'|trans }}" class="icon">
                                        <i class="s7-note"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}