{% extends 'front/user/base.html.twig' %}
{# {% if formQuotation.lines is defined %} #}
    {# we do not want to use the bootstrap theme for the products nested forms #}
    {% form_theme formQuotation.lines with ['form/quotation-line.html.twig'] only %}
{# {% endif %} #}
{% block user_content %}
    <h1>Devis {{ quotation.reference }} du {{ quotation.savedAt|date('d/m/Y à H:i', 'Europe/Paris') }}</h1>
    <p>
        <a href="{{ path('quotation_maker_list') }}">Retour à mes devis reçus</a>
        {% if quotation.order is not null %}
            | <a href="{{ path('order_maker_see', {'reference': quotation.order.reference}) }}">Voir la commande</a>
        {% endif %}
    </p>
    <div class="row">
        <div class="col-sm-8">
            <h4>Projet {{ quotation.project.reference }} - {{ quotation.project.name }}</h4>
            <p>Date de clôture : {{ quotation.project.closedAt|date('d/m/Y à H:i', 'Europe/Paris') }}</p>
        </div>
        <div class="col-sm-4">
            <p>État : <span class="btn btn-sm btn-status">{{ quotation.makerReadableStatus }}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Détail du Projet : 
                {% if quotation.status != constant('\\AppBundle\\Entity\\Quotation::STATUS_PENDING') or quotation.status != constant('\\AppBundle\\Entity\\Quotation::STATUS_REFUSED')or quotation.status != constant('\\AppBundle\\Entity\\Quotation::STATUS_CLOSED') %}
                    <div class="btn btn-sm" data-toggle="collapse" data-target="#detail-project" aria-expanded="false" aria-controls="detail-project" id="display-detail">Afficher les détails</div>
                {% endif %}
            </h4>
        </div>
    </div>
    {# DISPLAY DETAIL PROJECT #}
    {% if quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_PENDING') %}
        <div class="row" id="detail-project">
    {% else %}
        <div class="row collapse show-project" id="detail-project">
    {% endif %}
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2"><strong><p>Nom du projet :</p></strong></div>
                <div class="col-sm-8">{{ quotation.project.name }}</div>
            </div>
            <div class="row">
                <div class="col-sm-2"><strong><p>Type de projet :</p></strong></div>
                <div class="col-sm-8">{{ quotation.project.type.name }}</div>
            </div>
            <div class="row">
                <div class="col-sm-2"><strong><p>Description :</p></strong></div>
                 <div class="col-sm-8"> {{ quotation.project.description |nl2br}}</div>
            </div>
            <div class="row">
                <div class="col-sm-2"><strong><p>Application(s) :</p></strong></div>
                <div class="col-sm-8">
                    {% for field in quotation.project.fields %}
                        <div class="btn btn-sm btn-tag">{{field.name}}</div>
                    {% endfor %}
                </div>
            </div>
            {% if quotation.project.files|length > 0 %}
            <div class="row">
                <div class="col-sm-2"><strong><p>Fichier(s) joint(s) :</p></strong></div>
                <div class="col-sm-8">
                    {% for file in quotation.project.files %}
                        <div>
                            <li>
                                <a href="{{ path('project_file_download', { 'name': file.name }) }}">{{ file.originalName}}</a>
                            </li>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-sm-2"><strong><p>Délai souhaité :</p></strong></div>
                <div class="col-sm-8">{{ quotation.project.readableDeliveryTime }}</div>
            </div>
            
            {% if (quotation.project.scanAddress != null) %}
                <div class="row">
                    <div class="col-sm-2"><strong><p> {% if quotation.project.type.AddressProjectLabel != null %} {{ quotation.project.type.AddressProjectLabel}} : {% else %} Adresse : {% endif %} </p></strong></div>
                    <div class="col-sm-8">
                        {{ quotation.project.scanAddress.street1 }} {{ quotation.project.scanAddress.street2 }} - {{ quotation.project.scanAddress.zipcode }} {{ quotation.project.scanAddress.city }}
                    </div>
                </div>
            {% endif %}
            {% if (quotation.project.type.isshipping)  or (quotation.project.type.isshippingChoice) %}
            <div class="row">
                <div class="col-sm-2"><strong><p> Frais de livraison :</p></strong></div>
                <div class="col-sm-8">
                    {% if quotation.project.type.isshippingChoice %} prise en charge par la plateforme {% else %} à intégrer à votre devis (si besoin){% endif %}
                </div>
            </div>
            {% endif %}
            {% if quotation.project.type.scanner and quotation.project.scanOnSite %}
                <div class="row">
                    <div class="col-sm-2"><strong><p>Dimensions de l'objet :</p></strong></div>
                    <div class="col-sm-8">
                        X :{{ quotation.project.dimensions.x }} mm | Y :{{ quotation.project.dimensions.y }} mm | Z :{{ quotation.project.dimensions.z }} mm
                    </div>
                </div>
            {% endif %}

            {#% if quotation.project.scanOnSite %}
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">Souhaite que le maker se déplace</div>
                </div>
            {% elseif quotation.project.type.scanner and quotation.project.scanOnSite != 1 %}
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">Ne Souhaite pas que le maker se déplace</div>
                </div>
            {% endif %#}

            {% if quotation.project.skills|length > 0 or quotation.project.softwares|length > 0 %}
                <div class="row">
                    <div class="col-sm-4"><strong><p>Optionnel :</p></strong></div>
                </div>
                {% if quotation.project.skills|length > 0 %}
                    <div class="row">
                        <div class="col-sm-4"><strong><p>Compétence(s) :</p></strong></div>
                        <div class="col-sm-8">
                            {% for skill in quotation.project.skills %}
                                <div class="btn btn-sm btn-tag">{{skill.name}}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if quotation.project.softwares|length > 0 %}
                    <div class="row">
                        <div class="col-sm-4"><strong><p>Logiciel(s) :</p></strong></div>
                        <div class="col-sm-8">
                            {% for software in quotation.project.softwares %}
                                <div class="btn btn-sm btn-tag">{{software.name}}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {# END DISPLAY DETAIL PROJECT #}

            {# ACTION PENDING #}
            {% if quotation.project.status == constant('\\AppBundle\\Entity\\Project::STATUS_ORDERED') %}
                <hr class="hr-quotation">
                Ce projet a déjà été commandé par le client, il n'est plus possible de créer un devis.
                <hr class="hr-quotation">
            {% elseif quotation.project.status == constant('\\AppBundle\\Entity\\Project::STATUS_DELETED') %}
                <hr class="hr-quotation">
                Ce projet a été supprimé, il n'est plus possible de créer un devis.
                <hr class="hr-quotation">
            {% elseif quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_PENDING') %}
                <hr class="hr-quotation">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{{ path('quotation_maker_delete', { 'reference': quotation.reference }) }}" class="btn btn-sm btn-grey centered">Refuser le projet</a>
                    </div>
                    {% if date(quotation.project.closedAt) > date('now', 'utc') %}
                        <div class="col-sm-6">
                            <a href="{{ path('quotation_maker_accept', { 'reference': quotation.reference }) }}" class="btn btn-sm centered">Créer un devis</a>
                        </div>
                    {% endif %}
                </div>
                <hr>
            {% endif %}
        </div>
    </div>
    {# FORM QUOTATION #}
    {% if quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_PROCESSING') %}
    <hr class="hr-quotation">
    <div class="row">
        <div class="col-sm-12">
            <h4>Mon devis</h4>
        </div>
        <div class="col-sm-12">
                {{ form_start(formQuotation) }}

                    {{ form_row(formQuotation.internalReference)}}
                    {{ form_row(formQuotation.description)}}
                    <div class="form-group">
                        {{ form_label(formQuotation.productionTime) }}
                        <div class="col-sm-2">
                            {{ form_widget(formQuotation.productionTime) }}
                        </div>
                        <div class="col-sm-2 control-label">
                            jour(s)
                        </div>
                        {{ form_errors(formQuotation.productionTime) }}
                    </div>
                    {# {{ form_row(formQuotation.productionTime)}} #}
                    <div class="col-sm-12">
                        <div class="row quotation-lines">
                            <div class="col-sm-1">
                                <strong>#</strong>
                            </div>
                            <div class="col-sm-5">
                                <strong>Détail de la prestation</strong>
                            </div>
                            <div class="col-sm-1">
                                <strong>Qté</strong>
                            </div>
                            <div class="col-sm-2">
                                <strong>PU HT</strong>
                            </div>
                            <div class="col-sm-2">
                                <strong>TOTAL HT</strong>
                            </div>
                            <div class="col-sm-1" id="delete-line"> 
                            </div>
                        </div>
                    </div>
                    <div class="lines col-sm-12" data-prototype="{{ form_widget(formQuotation.lines.vars.prototype)|e }}">
                      {{ form_row(formQuotation.lines)}}  
                    </div>
                    
                    <div class="col-sm-12 mrt-20 text-center"><a href="#" class="add_line_link btn btn-rounded">Ajouter une ligne à votre devis</a></div>
                    <div class="col-sm-12 mrt-20 text-center">Validité du devis : Le client a au plus  {{ delayResponse }} jours pour donner son accord  sur le devis après la date de cloture de l'appel d'offre.</div>
                    <hr class="hr-quotation col-sm-12">
                    <div id="lines-total" class="col-sm-12">
                        <div class="row quotation-lines">
                            <div class="col-sm-9 text-right">
                                <strong>TOTAL HT</strong>
                            </div>
                            <div class="col-sm-2 text-right" id="div-total-ht">
                                
                            </div>
                            <div class="col-sm-1"> 
                            </div>
                        </div>
                    </div>
                    <div id="lines-total" class="col-sm-12">
                        <div class="row quotation-lines">
                            <div class="col-sm-9 text-right">
                                <strong>TVA</strong>
                            </div>
                            <div class="col-sm-2 text-right" id="div-vat">
                                
                            </div>
                            <div class="col-sm-1"> 
                            </div>
                        </div>
                    </div>
                    <div id="lines-total" class="col-sm-12">
                        <div class="row quotation-lines">
                            <div class="col-sm-9 text-right">
                                <strong>TOTAL TTC</strong>
                            </div>
                            <div class="col-sm-2 text-right" id="div-total-ttc">
                                
                            </div>
                            <div class="col-sm-1"> 
                            </div>
                        </div>
                    </div>

                    <hr class="hr-quotation col-sm-12">

                    {% set hideButtons = false %}
                    {% if quotation.project.status == constant('\\AppBundle\\Entity\\Project::STATUS_ORDERED') %}
                        <hr class="hr-quotation">
                        Ce projet a déjà été commandé par le client, il n'est plus possible d'envoyer un devis.
                        {% set hideButtons = true %}
                    {% elseif quotation.project.status == constant('\\AppBundle\\Entity\\Project::STATUS_DELETED') %}
                        <hr class="hr-quotation">
                        Ce projet a été supprimé, il n'est plus possible d'envoyer un devis.
                        {% set hideButtons = true %}
                    {% endif %}
                    <div class="col-sm-12{% if hideButtons %} hidden{% endif %}">
                        <div class="col-sm-4 text-center">
                            <a href="{{ path('quotation_maker_delete', { 'reference': quotation.reference }) }}" class="btn btn-grey centered">Refuser le projet</a>
                        </div>
                        <div class="col-sm-4 text-center">{{ form_row(formQuotation.save)}}</div>
                        <div class="col-sm-4 text-center">{{ form_row(formQuotation.sent)}}</div>
                    </div>

                {{ form_end(formQuotation) }}

                <hr class="hr-quotation col-sm-12">
        </div>

    </div>
    {% endif %}
    {% if quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_REFUSED') 
            or quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_CLOSED')  %}
                <hr class="hr-quotation">
                <div class="row">
                    <div class="col-sm-12">
                        {% if quotation.project.status == constant('\\AppBundle\\Entity\\Project::STATUS_ORDERED') %}
                            Ce projet est clos, il n'est plus possible d'envoyer un devis.
                        {% elseif quotation.project.status == constant('\\AppBundle\\Entity\\Project::STATUS_DELETED') %}
                            Ce projet est clos, il n'est plus possible d'envoyer un devis.
                        {% elseif quotation.project.status == constant('\\AppBundle\\Entity\\Project::STATUS_CANCEL') %}
                            Ce projet est clos, il n'est plus possible d'envoyer un devis.
                        {% else %}
                            {% if date(quotation.project.closedAt) > date('now', 'utc') %}
                                <a href="{{ path('quotation_maker_accept', { 'reference': quotation.reference }) }}" class="btn btn-sm centered">Créer un devis</a>
                            {% else %}
                                La date de clôture de ce projet a été dépassée, il n'est plus possible de créer un devis.
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% endif %}

    {# DISPLAY QUOTATION #}
    {% if (quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_REFUSED') 
           or quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_SENT') 
           or quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_DISPATCHED')
           or quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_NOT_DISPATCHED') 
           or quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_ACCEPTED') 
           or quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_DISCARDED')) 
       and quotation.lines|length > 0 
    %}
    <hr class="hr-quotation">
    <div class="row">
        <div class="col-sm-12">
            <h4>Mon devis</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Référence interne :</div>
        <div class="col-sm-9">{{ quotation.internalReference }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Mission :</div>
        <div class="col-sm-9">{{ quotation.description|nl2br}}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Délai de prodution :</div>
        <div class="col-sm-9">{{ quotation.productionTime }} jour(s)</div>
    </div><br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><strong>#</strong></th>
                <th><strong>Détail de la prestation</strong></th>
                <th class="text-center"><strong>Quantité</strong></th>
                <th class="text-right"><strong>PU HT</strong></th>
                <th class="text-right"><strong>TOTAL HT</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for line in quotation.lines %}
                <tr>
                <td><strong>{{ line.number }}</strong></td>
                <td><strong>{{ line.description }}</strong></td>
                <td class="text-center"><strong>{{ line.quantity }}</strong></td>
                <td class="text-right"><strong>{{ line.price / 100 }}</strong></td>
                <td class="text-right"><strong>{{ (line.quantity * line.price) / 100 }} €</strong></td>
                </tr>
            {% endfor %}
        <tr>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td colspan="4" class="text-right"><strong>TOTAL HT</strong></td>
            <td class="text-right"><strong>{{ (quotation.getTotalPrice / 100) | number_format(2) }} €</strong></td>
        </tr>
        <tr>
            <td colspan="4" class="text-right"><strong>TVA</strong></td>
            <td class="text-right"><strong>{{ (quotation.getVatPrice / 100) | number_format(2) }} €</strong></td>
        </tr>
        <tr>
            <td colspan="4" class="text-right"><strong>TOTAL TTC</strong></td>
            <td class="text-right"><strong>{{ ((quotation.getVatPrice + quotation.getTotalPrice) / 100) | number_format(2) }} €</strong></td>
        </tr>
        </tbody>
    </table>
    <hr class="hr-quotation">
    {% endif %}
    {# <p><a href="{{ path('quotation_download', { 'reference': quotation.reference }) }}">Download PDF</a></p> #}
    <div class="row">
        <div class="col-sm-12">
            <p>&nbsp;</p>
            <h4>Échanges avec le client</h4>
            {% include 'front/common/quotation_messages.html.twig' with { 'isMaker': true } %}
        </div>
    </div>
    <p><a href="{{ path('quotation_maker_list') }}">Retour à mes devis reçus</a></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var $addLineLink = $('.add_line_link');
        var $newLinkLi = $('<div class="text-center"></div>').append($addLineLink);

        jQuery(document).ready(function() {

            //Toogle
            $('#display-detail').on('click', function () {
              var text=$('#display-detail').text();
              if(text === "Afficher les détails"){
                $(this).html('Cacher les détails');
              } else{
                $(this).text('Afficher les détails');
             }
            });


            // Get the ul that holds the collection of tags
           var $collectionHolder = $('div.lines');
            
            // add the "add a tag" anchor and li to the tags ul
            $('.lines').append($newLinkLi);
            
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            
            $addLineLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                
                // add a new tag form (see code block below)
                addLineForm($collectionHolder, $newLinkLi);
            });

            {% if formQuotation.lines|length == 0 and quotation.status == constant('\\AppBundle\\Entity\\Quotation::STATUS_PROCESSING') %}

                addLineForm($collectionHolder, $newLinkLi);

            {% else %}
                reCalculatePrice();
            {% endif %}

            // handle the removal, just for this example
            $('.remove-line').click(function(e) {
                e.preventDefault();

                $(this).parent().parent().remove();

                reIndexNumber();

                reCalculatePrice();
                    
                return false;
            });

            reIndexNumber();

            //Re-calculate price
            $('.type-field').on('input',function(e){

               reCalculatePrice();

            });
            
            
        });

        function addLineForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            
            // get the new index
            var index = $collectionHolder.data('index');
            
            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/quotation_lines_prototype/g, index);
            
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            //Number of lines
            var nbLine = $('.line-number').length+1;
            
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div></div>').append(newForm);

            var idInputNumber = "{{ formQuotation.lines.vars.prototype.number.vars.id }}";
            idInputNumber = idInputNumber.replace(/quotation_lines_prototype/g, index);

            $newLinkLi.before($newFormLi);

            $('#'+idInputNumber).val(nbLine);

            reIndexNumber();

            // handle the removal, just for this example
            $('.remove-line').click(function(e) {
                e.preventDefault();
                
                $(this).parent().parent().remove();

                reIndexNumber();

                reCalculatePrice();
                    
                return false;
            });

            //Re-calculate price
            $('.type-field').on('input',function(e){

               reCalculatePrice();

            });
            
        }

        function reIndexNumber(){

            var i = 1;

            $('.index-line').each(function(e){

               $(this).val(e+1); 

            });

        }

        function reCalculatePrice(){

            console.log('Field change');

            var totalHt = 0;

            $('.line-number').each(function(e){

                var q = $(this).find('.quantity').val().replace(",", ".");

                var pu = $(this).find('.pu-ht').val().replace(",", ".");


                if(q == 0 || q == undefined || pu == 0 || pu == undefined){
                    var pt = 0;
                } else {
                    var pt = Number(q) * Number(pu);
                }

                totalHt += pt;
                
                console.log('line calc','Q :'+ q + ' PU : '+pu+' PT : '+pt);
                $(this).find('.total-line').val(pt.toFixed(2));

            });

            $('#div-total-ht').html('<strong>'+totalHt.toFixed(2)+' €</strong>');

            $('#div-vat').html('<strong>'+(totalHt*0.20).toFixed(2)+' €</strong>');

            $('#div-total-ttc').html('<strong>'+ (totalHt+(totalHt*0.20)).toFixed(2) +' €</strong>');


        }
    </script>
    {% include 'front/common/order_messages_js.html.twig' %}
{% endblock %}