{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include 'front/common/flash.html.twig' %}
            <div class="col-sm-12">
                {% if error and error.messageKey is not same as('Account is disabled.') %}
                    <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('user_login') }}" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="username">{{ 'user.form.field.email'|trans }}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="password">{{ 'user.form.field.password'|trans }}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="password" id="password" name="_password" required/>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <button type="submit" id="login_submit_button" class="btn btn-rounded">{{ 'form.login'|trans }}</button>
                </form>
                <p><a href="{{ path('prospect') }}">{{ 'form.register'|trans }}</a> - <a href="{{ path('user_forgot_password') }}">{{ 'user.form.forgot_password.title'|trans }}</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var f= true
        function gtagInteraction (){gtag_report_event(this.user3dm,'login','login.started');}
        gtag_report_event(this.user3dm,'login','login.view');


        $('#username').change(function() {if (f) {gtagInteraction(); f=false;}});
        $('#password').change(function() {if (f) {gtagInteraction(); f=false;}});
        

        $('#login_submit_button').click(function() {
            gtag_report_event(this.user3dm,'login','login.attempt');
        });

    </script>
{% endblock %}