{% extends 'front/user/base.html.twig' %}

{% block user_content %}
    <h1>Mon mot de passe</h1>
    {{ form_errors(form) }}
    {{ form_start(form) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <div class="text-right">
            <button type="submit" class="btn btn-rounded">{{ 'form.save'|trans }}</button>    
        </div>
        
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}