{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include 'front/common/flash.html.twig' %}
            <div class="col-sm-12">
                {% if error is defined %}
                    <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h2>{{ 'user.form.forgot_password.title'|trans }}</h2>
                <p>{{ 'user.form.reset_password.text'|trans }}</p>
                {{ form_start(form) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                    <button type="submit" class="btn btn-rounded">{{ 'form.save'|trans }}</button>
                {{ form_end(form) }}
                <p><a href="{{ path('user_login') }}">{{ 'form.cancel'|trans }}</a></p>
            </div>
        </div>
    </div>
{% endblock %}