{% extends 'admin/layout.html.twig' %}

{% set activeTab = 'ref' %}
{% set activeMenu = 'ref_color' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-table">
                <div class="panel-heading panel-heading-divider">
                    <div class="tools"><a href="{{ path('admin_color_add') }}"><span class="icon s7-magic-wand"></span> {{ 'admin.color.add.title'|trans }}</a></div>
                    {{ 'admin.color.list.title'|trans }}
                    <span class="panel-subtitle">{{ 'admin.color.list.subtitle'|trans }}</span>
                </div>
                <div class="panel-body">
                    <table id="table-color-list" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'admin.color.list.column.id'|trans }}</th>
                            <th>{{ 'admin.color.list.column.name'|trans }}</th>
                            <th>{{ 'admin.color.list.column.hexadecimal_code'|trans }}</th>
                            <th class="actions"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for color in refs %}
                            <tr{% if not color.enabled %} class="highlight highlight-red"{% endif %}>
                                <td>{{ color.id }}</td>
                                <td><a href="{{ path('admin_color_edit', { 'id': color.id }) }}">{{ color.name }}</a></td>
                                <td><span style="display: inline-block; width: 25px; height: 17px; border: 1px solid #000000; background-color: {{ color.hexadecimalCode }}; vertical-align: middle; margin-right: 5px;"></span>{{ color.hexadecimalCode }}</td>
                                <td class="actions"><a href="{{ path('admin_color_edit', { 'id': color.id }) }}" class="icon"><i class="s7-right-arrow"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}